footer {
  min-height: 70vh;
  width: 100%;
  background-color: #4C34A4 !important;
  color: #FFFFFF !important;
}

footer h1 {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;

}

footer p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 13px;

}

footer #form_text h1 {
  position: relative;
  bottom: 111px;
}

footer #form_text p {
  position: relative;
  bottom: 111px;
}

footer #form_text .form-control {
  position: relative;
  bottom: 81px;
  width: 300px;
  padding: 10px;
  background: #7445FF;
  border: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 10px black;
  color: #FFFFFF;
}

footer #form_text .form-control::placeholder {
  color: #FFFFFF;
}

footer #form_text .btn {
  color: #030303 !important;
  border: none !important;
  background-color: #FDDD35;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  box-shadow: 0px 0px 10px black;
  position: relative;
  bottom: 81px;
}
@media only screen and (max-width: 600px){
  /* .lastpage{
  height: 22vh;
  width: 100%;
} */
  footer{
    min-height: 100vh;
    width: 100%;
    text-align:  center;
  }
  footer #form{
    position: relative;
    bottom: 10vh;
  }
  footer h1 {
  font-size: 2rem;

}
footer #form_text h1 {
  position: relative;
  bottom: 0px;
  right: 4.3vh;
}
footer #form_text p {
  position: relative;
  bottom: 1vh;
  right: 4vh;
}

footer #form_text .form-control {
  position: relative;
  bottom: 0px;
  top: 2vh;
  left: 3.4vh;
  width: 300px;
  padding: 8px;
}
footer #form_text .btn {
  position: relative;
  bottom: 0;
  top: 12vh;
  right: 23vh;
}
footer #learn{
  position: relative;
  top:5vh ;
  
}
footer #credits{
    position: relative;
  top: 5vh;
  
}
}
@media screen and (max-width:394px) {
footer #form_text h1 {
  position: relative;
  right: 9vh;
}
footer #form_text p {
  position: relative;
  right: 8.8vh;
}

footer #form_text .form-control {
  position: relative;
  bottom: 0px;
  left: 1.4vw;
}
footer #form_text .btn {
  position: relative;
  bottom: 0;
  top: 13vh;
  right: 60vw;
}
}