@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Comic+Relief:wght@400;700&family=Exile&family=Monoton&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  overflow-x: hidden !important;
}

.first_section {
  min-height: 100vh;
  width: 100%;
  background-color: #7445FF;
}
.first_section .container{
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  bottom: 10vh;
  left: 8vh;
}
@media screen and (max-width:600px){

  .first_section .container{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.first_section h2 {
  font-size: 44px;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  position: relative;
  top: 3px;
}

.first_section button {
  background-color: #FDDD35; 
  color: #030303 !important;
  border: none !important;
  box-shadow: 0px 0px 10px black;
  padding: 13px;
  border-radius: 5px;
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease;
}

.first_section button:hover {
  background-color: #FDDD35;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px #333;
  color: #000 !important;
  cursor: pointer;
}

.first_section .student_img {
  height: 1700px;
}

#logo_img {
  position: relative;
  top: 30px;
}

#logo_img img {
  height: 20px;
  width: 75px;
}

#logo_img p {
  color: #FFFFFF;
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: 4px;
}

#img_banner {
  height: 259px !important;
  width: 348px !important;
  position: relative;
  top: 80px;
  left: 100px;
  box-shadow: 0px 0px 18px black;
}

#img_banner2 {
  height: 250px;
  width: 420px;
  position: relative;
  left: 66px;

}

@media only screen and (max-width: 600px) {


  .first_section {
    min-height: 100vh;
  }
  #intro{
    position: relative;
    top: 2vh;
  }

  .first_section h2 {
    font-size: 2rem;
    position: relative;
    left: 2vh;
    top: 13vh;
    z-index: 3;
  }

  .first_section button {
    position: relative;
    left: 10.5vh;
    top: 1vh;
    z-index: 3;
  }

  #logo_img {
    position: relative;
    top: 17vh;
    z-index: 3;
  }

  #logo_img img {
    position: relative;
    top: 9.4vh;
    right: 13vh;
    z-index: 3;

  }

  #logo_img p {
    position: relative;
    top: 10vh;
    right: 9.5vh;
    z-index: 3;
  }

  #img_header {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #img_banner {
    height: 200px !important;
    width: 278px !important;
    position: absolute;
    left: 7.5vh;
    top: 52vh;
    z-index: 1;
  }

  #img_banner2 {
    height: 250px !important;
    width: 284px !important;
    position: absolute;
    top: 60vh;
    z-index: 2;
  }
}

@media screen and (max-width:394px) {
  .first_section h2 {
    font-size: 1.8rem;
    position: relative;
    top: 7vh;
  }
  .first_section button{
    position: relative;
    left: 26vw;
  }
  .first_section button a{
    font-size: 0.7rem;
    font-weight: bolder;
    
  }
    #logo_img {
    position: relative;
    top: 11vh;
    z-index: 3;
    display: flex;
    justify-content: center;
  }
    #logo_img p {
    position: relative;
    top: 12vh;
  }
    #logo_img img {
    position: relative;
    top: 11.5vh;
  }
   #img_banner {
    height: 180px !important;
    width: 258px !important;
    position: absolute;
    left: 8vh;
    top: 52vh;
    z-index: 1;
  }
    #img_banner2 {
    height: 230px !important;
    width: 264px !important;
    position: absolute;
    top: 60vh;
    left: 8vh;
    z-index: 2;
  }
}

.second_section {
  min-height: 100vh;
  width: 100%;
  background-color: #7445FF;
}

.second_section .container-fluid {
  min-height: 100vh;
  width: 100%;
}

.second_section h1 {
  color: #FFFFFF;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: 95px;
}

.second_section_card {
  position: relative;
}

.second_section_card h3 {
  position: absolute;
  color: #FFFFFF;
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  bottom: 210px;
  left: 80px;
  text-shadow: 0px 0px 10px black;
  z-index: 3;

}
@media screen and (min-width:420px) and (max-width:435px) {
    .first_section h2 {
    font-size: 1.8rem;
    position: relative;
    top: 11.5vh;
    left: 10vw;
  }
  .first_section button{
    position: relative;
    left: 22vw;
    top: 0vh;
  }
  .first_section button a{
    font-size: 1rem;
    font-weight: bolder;
    
  }
   #img_banner {
    height: 200px !important;
    width: 278px !important;
  }
    #img_banner2 {
    height: 250px !important;
    width: 284px !important;
    position: absolute;
    left: 7.4vh;
  }
  .second_section{
    min-height: 134vh !important;

  }
    footer form h1{
    position: relative;
    top: 4vh;
  }
  footer form p{
    position: relative;
    top: 3vh;
  }
  footer #form_text .form-control {
    position: relative;
    top: 5vh !important;
  }
  footer #form_text .btn{
    position: relative;
    right: 42.2vw !important;
    top: 14vh !important;
  }
}

@media only screen and (max-width: 600px) {
  .second_section{
    position: relative;
    min-height: 132vh;
  }
.second_section h1 {
    position: absolute;
    font-size: 1.7rem;
    left: 2.5vh;
  }

  #card1 {
    position: relative;
    left: 0.8vh;
  }

  #card2 {
    position: relative;
    right: 0.8vh;
  }

  #card3 {
    position: relative;
    left: 0.8vh;
  }
  #card-course{
    position: relative;
    top: 18vh;
  }
  }
  @media screen and (max-width:361px) {
      .second_section{
    position: relative;
    min-height: 148vh !important;
  }
}
  @media screen and (max-width:394px) {
      .second_section{
    position: relative;
    min-height: 135vh;
  }
  .second_section h1 {
    position: absolute;
    font-size: 1.5rem;
    top: 9.4vh;
  }
      #card1 img{
    width: 360px;
    height: 320px;
  }

    #card2 img{
    width: 360px;
    height: 320px;
  }

  #card3 img{
    width: 360px;
    height: 320px;
  }
  
.second_section_card h3 {
  position: absolute;
  top: 10vh;
}
}

