{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=999">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}?v=99">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?v=999">
    {% load django_bootstrap5 %} 
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <script src="{% static 'js/email.js' %}?v=999"></script>
    <!-- <script>
        alert('Login successfully')
    </script> -->
    <header id="Home">
    {% include "nav.html" %}
    <section class="first_section">
        <div class="container">
            <div class="row  d-flex align-items-center">
                <div class="col-lg-6 col-12">
                    <h2 class="mb-3">Introduction to</h2>
                    <h2 class="mb-1"> Web Development</h2>
                    <div class="d-flex align-items-center gap-lg-3" id="logo_img">
                        <button id="button">Start learning for free</button>
                        <img src="{% static 'assets/images/stdlogo.png' %}" alt="">
                        <p>Join 1k+ students</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12" id="img_header">
                    <img id="img_banner" src="{% static 'assets/images/blur.png' %}" alt="">
                    <img id="img_banner2" src="{% static 'assets/images/auto.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    </header>
       <section class="second_section" id="new">
        <h1 class="text-center"> Available &nbsp; Resources</h1>
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center align-items-center " id="card-course">
                <div class="col-lg-4 col-11 d-flex justify-content-center second_section_card" id="card1">
                    <img src="{% static 'assets/images/card1.png' %}">
                    <h3>The Full Stack Web <br> Development </h3>
                </div>
                <div class="col-lg-4 col-11 d-flex justify-content-center second_section_card" id="card2">
                    <img src="{% static 'assets/images/card2.png' %}" alt="">
                    <h3 class="ms-4">Front-End <br> Development</h3>
                </div>
                     <div class="col-lg-4 col-11 d-flex justify-content-center second_section_card" id="card3">
                    <img src="{% static 'assets/images/card1.png' %}" alt="">
                    <h3 class="ms-3">Back-End <br> Languages</h3>
                </div>
            </div>
        </div>
    </section>
 {% include 'footer.html' %}
</body>

</html>  